RAZORPAY_KEY_ID=rzp_test_SOKP45qaVYutqv
RAZORPAY_KEY_SECRET=1iylDofg5O9moYChyP6lT2KL

# Port for the payments server
PAYMENTS_PORT=5001

# Vite dev server origin for CORS
CLIENT_ORIGIN=http://localhost:5173

